# Ignorar el entorno virtual
env_SeattleSales/

# Ignorar archivos temporales de Python
*.pyc
__pycache__/

# Ignorar archivos de Jupyter Notebook Checkpoints
*.ipynb_checkpoints/

# Ignorar configuraciones locales de VS Code
.vscode/

# Ignorar archivos de datos grandes o sensibles
secrets.env

# Ignorar archivos específicos
Enviroment display.txt
Github upload.txt
notebook/catboost_info/
notebook/catboost2_info/